{% extends 'Main/main.html.twig' %}
{% block page %}
<div class="content-wrapper" style="background-color: #222d32; border: 1px solid #37464f">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' with {'page': 'Employment', 'color': 'lightgray'} %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">        
        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="box-body">
            {% if employment is defined %}
                <table class="table table-bordered" id="table_company">                    
                    <tr class="head">
                        <th class="th_head">Company</th>
                        <th class="th_head">Position</th>
                        <th class="th_head">Address</th>
                        <th class="th_head">From</th>
                        <th class="th_head">To</th>
                        <th class="th_head">Current</th>
                    </tr>
                                        
                    {% for records in employment %}
                    {% set dateFrom = records.dateFrom|split(" ") %}
                    {% set dateTo = records.dateTo|split(" ") %}                    
                    <tr class="rec glowing-border">
                        <td>{{ records.name }}</td>
                        <td>{{ records.position }}</td>
                        <td>{{ records.address }}</td>
                        <td>{{ dateFrom[0]|date("F  Y") }}</td>
                        <td>{{ dateTo[0]|date("F Y") }}</td>
                        <td>{{ records.isCurrent == 0 ? 'No' : 'Yes' }}</td>
                    </tr>                    
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="form-group col-lg-2">                
            <button type="button" class="btn btn-warning btn-emp" style="margin: 1.5em 0 0 -0.3em;">
                <li style="list-style: none;">
                    <a href="{{ path('renderAddCompany') }} "><i></i> <span id="label_exp"style="">Add Experience</span></a>
                </li>
            </button>
        </div>
    </section>    
</div>
<style>	
    .btn-emp { background-color: rgb(34, 45, 50); border: 1px solid #637B7B; }
    .btn-emp:hover { background-color:rgba(34,45,50,0.3); border: 1px solid #637B7B;}    
    #label_exp { color: lightgray; font-weight: 700;}
    
    .rec td:nth-child(6) { text-align: center; }
    .th_head { background-color: #1a2226 !important; color: #4b646f !important; letter-spacing: 6px; }    
    tr th { color: #FFF; text-align: center; font-weight: normal; }
    tr td { color: lightgray; }
    table { border-collapse: collapse; }
    table, th, td { border-color: #444 !important; }
    table tr th { border: 2px solid #444 !important; }
    /*.rec:hover td { color: #336699; background-color: #FFF; }*/
    .glowing-border { border: 0.5px solid #dadada !important; }
    .glowing-border:hover
    {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 40px darkSlateGray;
        cursor: pointer;
    }	
</style>
{% endblock %}