{% extends 'Main/main.html.twig' %}
{% block page %}
<div class="content-wrapper" style="background-color: #222d32; border: 1px solid #444">
    {% block breadcrumbs %}
        {% include 'Main/breadcrumbs.html.twig' with {'page': 'Schools'} %}
    {% endblock %}
    
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->        
        <div class="box-body">
            {% if education is defined %}
                <table class="table table-bordered" id="table_school">                    
                    <tr class="head">
                        <th class="th_head">Level</th>
                        <th class="th_head">Institution</th>
                        <th class="th_head">Course</th>
                        <th class="th_head">Address</th>
                        <th class="th_head">From</th>
                        <th class="th_head">To</th>
                    </tr>
                                        
                    {% for records in education %}      
                    {% set dateFrom = records.dateFrom|split(" ") %}
                    {% set dateTo = records.dateTo|split(" ") %}
                    <tr class="rec glowing-border">
                        <td>{{ records.level }}</td>
                        <td>{{ records.institution }}</td>
                        <td>{{ records.course }}</td>
                        <td>{{ records.address }}</td>
                        <td>{{ dateFrom[0]|date("F Y") }}</td>
                        <td>{{ dateTo[0]|date("F Y") }}</td>
                    </tr>                    
                    {% endfor %}
                </table>
            {% endif %}
        </div>                
    </section>    
</div>
<style>
	.th_head { background-color: #1a2226 !important; color: #4b646f !important; letter-spacing: 6px; }
    #label_exp { color: red; font-weight: 700;}
    tr th { color: #FFF; text-align: center; font-weight: normal; }
    tr td { color: lightgray; }
    table { border-collapse: collapse; }
    table, th, td { border-color: #444 !important; }
    table tr th { border: 2px solid #444 !important; }
    /*.rec:hover td { color: #336699; background-color: #FFF; }*/
    .glowing-border { border: 0.5px solid #dadada !important; }
    .glowing-border:hover
    {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 40px darkSlateGray;
        cursor: pointer;
    }
</style>
{% endblock %}