{% block breadcrumbs %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <label style="color: #777;">                
            {% if page is defined %}
                {% set first = page|first %}
                {% set succeed = page|slice(1, 100) %}
                {% if page == "Home" %}                    
                <strong style="font-weight: normal; margin: 0 0 0 0.3em;"><i id="{{ color }}" class="first">O</i>verview</strong>
                {% else %}
                <strong style="font-weight: normal; margin: 0 0 0 0.3em;"><i id="{{ color }}" class="first">{{ first }}</i>{{ succeed }}
                </strong>
                {% endif %}
            {% endif %}
            </label>
            <!--<small>Short description of my Profile</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{{ page }}</li>
        </ol>
    </section>
<script src="{{ asset('AdminLTE/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script>
    $(document).ready(function()
    {
        $(".first").each(function()
        {
            $(this).css("color", $(this).attr("id"));
        });
    });
</script>
{% endblock %}