{% block aside %}
<aside class="main-sidebar">    
    <section class="sidebar">               
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" id="sidehead">HIGHLIGHTS</li>            
            {% for data in menu %}
                {% if loop.index == 1 %}
                    <li class="clickable"><a href="{{ path('home') }}"><i class="{{ data.classname }}"></i><span>{{ data.name }}</span></a></li>
                {% else %}                    
                    <li class="clickable"><a href="{{ path(data.link) }} "><i class="{{ data.classname }}"></i> <span>{{ data.name }}</span></a></li>
                {% endif %}                                        
            {% endfor %}
        </ul>       
    </section>    
</aside>
<script src="{{ asset('AdminLTE/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script>
    $(document).ready(function()
    {
        {% if active is defined %}
            $(".clickable").each(function()
            {
                var className = $(this).children("a").children("span").html();                                                               
                var db = "{{ active }}";                                
                
                if( className.toLowerCase() == db.toLocaleLowerCase())
                {
                    $(this).addClass("active")
                            .css("outline", "none")
                            .css("border-color","#9ecaed")
                            .css("box-shadow", "0 0 50px darkslategrey");
                }                                   
            });
        {% endif %}
        /*$.ajax(
        {
            type: "POST",
            url: "", 
            data: {"data": data} ,
            success: function(result)
            {
                
            }
        });*/
    });
</script>
{% endblock %}